.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #363253;
}

.navbar-brand {
  text-align: left;
}

.navbar-brand h1 {
  font-size: 1.8rem;
  margin: 0;
  letter-spacing: 1px;
}

.navbar-brand p {
  font-size: 0.9rem;
  margin: 0;
  color: var(--color-grey-text);
}

.navbar-search {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 100%;
  max-width: 400px;
  padding: 10px 15px;
  font-size: 1rem;
  background-color: var(--color-dark-blue);
  border: 1px solid var(--color-dark-blue);
  border-radius: 8px;
  color: var(--color-white);
}

.navbar-user {
  display: flex;
  align-items: center;
  gap: 25px;
}

.navbar-user span {
  font-weight: 500;
}
.user-info {
  text-align: right;
}

.user-info .full-name {
  font-weight: 500;
  display: block; /* Make it a block element */
}

/* Style the logout button as a link */
.logout-link {
  background: none;
  border: none;
  color: #E53935; /* Add this line to make it red */
  padding: 0;
  font-size: 0.9rem;
  cursor: pointer;
  text-align: right;
  display: block;
  width: 100%;
}

.logout-link:hover {
  text-decoration: underline;
  color: #c62828; /* Optional: A slightly darker red on hover */
}

/* New styles for the watchlist link */
.watchlist-link {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.watchlist-link:hover {
  background-color: var(--color-dark-blue);
}