.filters-container {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.filter-input, .filter-select {
  padding: 10px;
  background-color: var(--color-dark-blue);
  border: 1px solid var(--color-dark-blue);
  border-radius: 8px;
  color: var(--color-white);
  font-size: 1rem;
  font-family: 'Poppins', sans-serif; /* Ensures font consistency */
}

.filter-input::placeholder {
  color: var(--color-grey-text);
}